<%= form_with(model: @manycomplaint, local: true, url: choose_new_or_edit) do |form| %>
  <% if @manycomplaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= @manycomplaint.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @manycomplaint.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "ブログ一覧画面にもどる", many_complaints_path %>