<!DOCTYPE html>
<html>
  <head>
    <title>ManyComplaint</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# ここにヘッダー　%>
  <header>
    <div class="header-logo">
      <%= link_to("TweetClone", "/") %>
    </div>
    <ul class="header-menus">
      <li>
        <%= link_to("投稿一覧", many_complaints_path) %>
      </li>
      <li>
        <%= link_to("新規投稿", new_many_complaint_path) %>
      </li>
    </ul>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  <%# ここにフッター　%>
  <footer>
    <ul class="footer-logo" >
      <li>
        DIC Rails 課題　Tweeter Clone
      </li>
    </ul>
  </footer>
  </body>
</html>
